#board {
  background-color: tan;
  width: 600px;
  height: 600px;
}

.row {
  height: calc(100% / 8);
  display: flex;
}

.space {
  flex: 1;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}
