#board {
  background-color: tan;
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex: 1;
}

.space {
  flex: 1;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}
